/* h1{
    background-color: red;
}
@media screen and (max-width: 768px) {
    h1{
        background-color: blue;
    }
} */
/* Desktop-Máy tính để bàn */
/* h3{
    background-color: chocolate;

} */
/* Laptop-Máy tính xách tay */
/* @media screen  and (max-width: 900px){
    h3{
        background-color: cadetblue;
    }
} */
/* Table ngang- Máy tính bảng ngang */
/* @media screen  and (max-width: 850px){
    h3{
        background-color: rgb(215, 184, 32);
    }
} */
/* Table doc-Máy tính bảng học */
/* @media screen and (max-width: 768px) {
    h3{
        background-color: blueviolet;
    }
} */
/* Phone điện thoại di động */
/* @media screen and (max-width: 480px) {
    h3{
        background-color: chartreuse;
    }
} */


/* mobile first */
/* h1{
    background-color: red;
} */
/* tablet dọc */
/* @media screen and (min-width: 480px) {
    h1{
        background-color: blue;
    }
    
} */
/* tablet ngang */
/* @media screen and (min-width: 768x) {
    h1{
        background-color: rgb(15, 229, 101);
    }  
} */
/* laptop */
/* @media screen and (min-width: 1024) {
    h1{
        background-color: palevioletred;
    }
} */
/* desktop */
/* @media screen and (min-width: 1200px) {
    h1{
        background-color: yellow;
    }
} */

header{
    background-color: #fe0100;
    text-align: center;
    color: white;
    padding: 30px 0px;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
section{
    display: flex;
    gap: 20px;
}
section aside:nth-of-type(1){
    background-color:#008001;
    text-align: center;
    color: white;
    font-size: 30px;
    border-radius: 10px;
}
section aside:nth-of-type(2){
    background-color:#ff68b3;
    text-align: center;
    color: white;
    font-size: 30px;
    border-radius: 10px;
}
section main{
    background-color:#ffff05;
    text-align: center;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    padding-bottom: 400px;
}
footer{
    background-color:#0000fe;
    text-align: center;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 20px;
}
@media screen and (max-width:700px){    
    section{
        display: flex;
        flex-direction: column;
    }
    section aside:nth-of-type(1){
        background-color:#008001;
        text-align: center;
        color: white;
        font-size: 30px;
        border-radius: 10px;
        padding: 20px 0;
    }
    section aside:nth-of-type(2){
        background-color:#ff68b3;
        text-align: center;
        color: white;
        font-size: 30px;
        border-radius: 10px;
        padding: 20px 0;
    }
    footer{
        background-color:#0000fe;
        text-align: center;
        color: white;
        font-size: 30px;
        border-radius: 10px;
        margin-top: 20px;
        padding: 20px 0;
    }
}
.container{
    background-color: pink;
    display: flex;
    gap: 20px;

}
.child{
    background-color: rgb(87, 10, 48);
    width: 150px;
    height: 150px;
    color: white;
    line-height: 150px;
    text-align: center;
    font-size: 20px;
    width: 25%;
}
@media screen and (max-width:00px) {
    .container{
        flex-wrap: wrap;
    }
    .child{
        width: calc(50%-20px);
        flex-grow: 1;
    }
}
@media screen and (max-width:480px){
    .container{
        flex-direction: column;
    }
}